body {
    margin: 0px;
    padding: 0px;
    background: #cccccc;
    display: grid;
    justify-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
p, h1,h2,h3{
    margin: 0px;
}
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    list-style-type: none;
}
.fig1-bikcraft {
    padding: 1rem;
    padding-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 15rem;
}
li a{
    text-decoration: none;
    background: #ffffff;
    padding: .7rem 1.5rem;
    border-radius: .4rem;
    text-transform: uppercase;
    color: #000000;
    border: solid 0.2rem #ffffff;
}
li a:hover {
    border: solid 0.2rem red;
}
.todos-quadros{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width: 1000px;
}
.primeiro-quadro::before{
    content: "";
    width: 5rem;
    height: .3rem;
    background: blue;
    position: absolute;
    margin-right: -2rem;
    margin-top: 2rem;
    z-index: 1;
}
.fig2-bicicleta {
    width: 100%;
    display: block;
}
.primeiro-quadro{
    position: relative;
    display: grid;
    align-content: center;
    gap: 50px;
    justify-items: flex-end;
    text-align: right;
    background: #ffffff;
    padding: 40px;
}
h3 {
    margin: 0px;
}
.terceiro-quadro {
    text-transform: uppercase;
    align-self: center;
    text-align: center;
    margin-right: 2.5rem;
    font-size: 3rem;
    color: darkgray;
    background: url("./imagens/onda.svg");
    position: relative;
}
.quarto-quadro {
    padding: 3rem;
    gap: 0rem;
    background-color: #ffffff;
    display: grid;
}
.quadro-item:nth-child(odd){
    background: #ccc;
}
.quadro-item:hover{
    border-left: 5px solid red;
}
.quadro-item{
    border-left: 4px solid transparent;
    display: grid;
    grid-template-columns: auto 1fr; 
    gap: 10px 20px; /* distância entre as linhas e depois distância entre as colunas */
    padding: 20px;
    margin: 0;
}
.quadro-item p{
    grid-column: 2;
}
section h1 {
    margin: 0px;
    font-size: 2.3rem;
}
section p, a {
    margin: 0;
    font-size: 1.3rem;
}
section a {
    background-color:  red;
    padding: 1rem 2rem;
    border-radius: .3rem;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}
section a:hover{
    background: #900;
}
footer {
    box-sizing: border-box;
    background: white;
    padding: 1.5rem;
    width: 100%;
    text-align: center;
}